USE [master]
GO
/****** Object:  Database [QUANLYBENHNHAN]    Script Date: 6/14/2018 8:47:59 PM ******/
CREATE DATABASE [QUANLYBENHNHAN]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QUANLYBENHNHAN', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\QUANLYBENHNHAN.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QUANLYBENHNHAN_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\QUANLYBENHNHAN_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QUANLYBENHNHAN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QUANLYBENHNHAN]
GO
USE [QUANLYBENHNHAN]
GO
/****** Object:  Table [dbo].[BACSY]    Script Date: 6/14/2018 8:48:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BACSY](
	[MABS] [varchar](10) NOT NULL,
	[TENBS] [nvarchar](50) NOT NULL,
	[CHUYENNGANH] [nvarchar](50) NULL,
 CONSTRAINT [PK_BACSY] PRIMARY KEY CLUSTERED 
(
	[MABS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BENHNHAN]    Script Date: 6/14/2018 8:48:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BENHNHAN](
	[MABN] [varchar](10) NOT NULL,
	[TENBN] [nvarchar](50) NOT NULL,
	[TUOIBN] [int] NULL,
	[GIOITINH] [nchar](10) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[SDTBN] [nchar](15) NULL,
	[BHYT] [nchar](10) NULL,
 CONSTRAINT [PK_BENHNHAN] PRIMARY KEY CLUSTERED 
(
	[MABN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DICHVU]    Script Date: 6/14/2018 8:48:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DICHVU](
	[MADV] [varchar](10) NOT NULL,
	[TENDV] [nvarchar](50) NULL,
	[GIADV] [numeric](18, 0) NULL,
 CONSTRAINT [PK_DICHVU] PRIMARY KEY CLUSTERED 
(
	[MADV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DONDICHVU]    Script Date: 6/14/2018 8:48:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONDICHVU](
	[MADDV] [varchar](10) NOT NULL,
	[MABS] [varchar](10) NOT NULL,
	[MABN] [varchar](10) NOT NULL,
	[MADV] [varchar](10) NOT NULL,
	[TIENDV] [numeric](18, 0) NULL,
 CONSTRAINT [PK_DONDICHVU] PRIMARY KEY CLUSTERED 
(
	[MADDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DONTHUOC]    Script Date: 6/14/2018 8:48:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONTHUOC](
	[MADT] [varchar](10) NOT NULL,
	[MABS] [varchar](10) NOT NULL,
	[MABN] [varchar](10) NOT NULL,
	[MATHUOC] [varchar](10) NOT NULL,
	[TIENTHUOC] [numeric](18, 0) NULL,
	[LIEUDUNG] [nvarchar](200) NULL,
 CONSTRAINT [PK_DONTHUOC] PRIMARY KEY CLUSTERED 
(
	[MADT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 6/14/2018 8:48:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHD] [varchar](10) NOT NULL,
	[MADT] [varchar](10) NOT NULL,
	[MADDV] [varchar](10) NOT NULL,
	[MABN] [varchar](10) NOT NULL,
	[TONGTIEN] [numeric](18, 0) NULL,
 CONSTRAINT [PK_HOADON] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THUOC]    Script Date: 6/14/2018 8:48:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THUOC](
	[MATHUOC] [varchar](10) NOT NULL,
	[TENTHUOC] [nvarchar](50) NULL,
	[HSD] [date] NULL,
	[GIATHUOC] [numeric](18, 0) NULL,
 CONSTRAINT [PK_THUOC] PRIMARY KEY CLUSTERED 
(
	[MATHUOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DONDICHVU]  WITH CHECK ADD  CONSTRAINT [FK_DONDICHVU_BACSY] FOREIGN KEY([MABS])
REFERENCES [dbo].[BACSY] ([MABS])
GO
ALTER TABLE [dbo].[DONDICHVU] CHECK CONSTRAINT [FK_DONDICHVU_BACSY]
GO
ALTER TABLE [dbo].[DONDICHVU]  WITH CHECK ADD  CONSTRAINT [FK_DONDICHVU_BENHNHAN] FOREIGN KEY([MABN])
REFERENCES [dbo].[BENHNHAN] ([MABN])
GO
ALTER TABLE [dbo].[DONDICHVU] CHECK CONSTRAINT [FK_DONDICHVU_BENHNHAN]
GO
ALTER TABLE [dbo].[DONDICHVU]  WITH CHECK ADD  CONSTRAINT [FK_DONDICHVU_DICHVU] FOREIGN KEY([MADV])
REFERENCES [dbo].[DICHVU] ([MADV])
GO
ALTER TABLE [dbo].[DONDICHVU] CHECK CONSTRAINT [FK_DONDICHVU_DICHVU]
GO
ALTER TABLE [dbo].[DONTHUOC]  WITH CHECK ADD  CONSTRAINT [FK_DONTHUOC_BACSY] FOREIGN KEY([MABS])
REFERENCES [dbo].[BACSY] ([MABS])
GO
ALTER TABLE [dbo].[DONTHUOC] CHECK CONSTRAINT [FK_DONTHUOC_BACSY]
GO
ALTER TABLE [dbo].[DONTHUOC]  WITH CHECK ADD  CONSTRAINT [FK_DONTHUOC_BENHNHAN] FOREIGN KEY([MABN])
REFERENCES [dbo].[BENHNHAN] ([MABN])
GO
ALTER TABLE [dbo].[DONTHUOC] CHECK CONSTRAINT [FK_DONTHUOC_BENHNHAN]
GO
ALTER TABLE [dbo].[DONTHUOC]  WITH CHECK ADD  CONSTRAINT [FK_DONTHUOC_THUOC] FOREIGN KEY([MATHUOC])
REFERENCES [dbo].[THUOC] ([MATHUOC])
GO
ALTER TABLE [dbo].[DONTHUOC] CHECK CONSTRAINT [FK_DONTHUOC_THUOC]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_BENHNHAN] FOREIGN KEY([MABN])
REFERENCES [dbo].[BENHNHAN] ([MABN])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_BENHNHAN]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_DONDICHVU] FOREIGN KEY([MADDV])
REFERENCES [dbo].[DONDICHVU] ([MADDV])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_DONDICHVU]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_DONTHUOC] FOREIGN KEY([MADT])
REFERENCES [dbo].[DONTHUOC] ([MADT])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_DONTHUOC]
GO
ALTER TABLE [dbo].[BENHNHAN]  WITH CHECK ADD  CONSTRAINT [BHYT] CHECK  (([BHYT]=N'không' OR [BHYT]=N'có'))
GO
ALTER TABLE [dbo].[BENHNHAN] CHECK CONSTRAINT [BHYT]
GO
/****** Object:  StoredProcedure [dbo].[DS_BN]    Script Date: 6/14/2018 8:48:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[DS_BN]
AS 
BEGIN
SELECT MABN AS N'MĂ BỆNH NHÂN', TENBN AS N'TÊN BỆNH NHÂN', TUOIBN AS N'TUỔI', GIOITINH AS N'GIỚI TÍNH', DIACHI AS N'ĐỊA CHỈ', SDTBN AS N'SỐ ĐIỆN THOẠI', BHYT AS 'BHYT'
FROM BENHNHAN
END
GO
/****** Object:  StoredProcedure [dbo].[SHOWDONTHUOC]    Script Date: 6/14/2018 8:48:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SHOWDONTHUOC]
AS 
BEGIN
	SELECT        BENHNHAN.TENBN AS N'Tên bệnh nhân', BACSY.TENBS AS N'Tên bác sỹ', THUOC.TENTHUOC as N'Tên thuốc', DONTHUOC.TIENTHUOC as N'Tiền thuốc', DONTHUOC.LIEUDUNG as N'Liều dùng'
	FROM            BACSY INNER JOIN
                         DONTHUOC ON BACSY.MABS = DONTHUOC.MABS INNER JOIN
                         BENHNHAN ON DONTHUOC.MABN = BENHNHAN.MABN INNER JOIN
                         THUOC ON DONTHUOC.MATHUOC = THUOC.MATHUOC
END
GO
/****** Object:  StoredProcedure [dbo].[SHOWDONTHUOC_THEOBN]    Script Date: 6/14/2018 8:48:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SHOWDONTHUOC_THEOBN] (@tenbn nvarchar(50))
AS 
BEGIN
	SELECT        BENHNHAN.TENBN AS N'Tên bệnh nhân', BACSY.TENBS AS N'Tên bác sỹ', THUOC.TENTHUOC as N'Tên thuốc', DONTHUOC.TIENTHUOC as N'Tiền thuốc', DONTHUOC.LIEUDUNG as N'Liều dùng'
	FROM            BACSY INNER JOIN
                         DONTHUOC ON BACSY.MABS = DONTHUOC.MABS INNER JOIN
                         BENHNHAN ON DONTHUOC.MABN = BENHNHAN.MABN INNER JOIN
                         THUOC ON DONTHUOC.MATHUOC = THUOC.MATHUOC
	WHERE			BENHNHAN.TENBN = @tenbn
END
GO
USE [master]
GO
